@import "common/mixins";
@import "common/variables";
@import "common/helpers";

@import "layouts/post-content";

@import "components/ui/button";
@import "components/ui/input";
@import "components/articles/share";
@import "components/subscribe/subscribe-section";
@import "components/author/author";
@import "components/author/picture";
@import "components/author/links";
@import "components/comments/comments";
@import "components/comments/load-comments";
@import "components/articles/recommended";
@import "components/articles/recommended-articles";
@import "components/articles/recommended-slider";

.qd-daily-drop-content {
  @extend .l-post-content;

  figure,
  &.kg-image-card {
    padding: 20px 0 20px;

    @include respond-to('medium') {
      padding: 20px 0 25px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 5px;

    @include respond-to('medium') {
      padding-top: 5px;
      margin-bottom: 5px;
    }
  }

  h3 {
    color: #007dde;
  }

  hr {
    margin: 10px 0;

    @include respond-to('medium') {
      margin: 20px 0;
    }
  }

  ul, ol {
    margin: 0 0 5px 0;

    @include respond-to('medium') {
      margin-bottom: 10px;
    }
  }

  li {
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 9px;

    @include respond-to('medium') {
      margin-bottom: 14px;
    }
  }
}
